
/*********************************************
 * Background STYLES
 *********************************************/

section {
  background-color: white;
  data-background-image: "/images/How-R-you-Logo.svg";
  data-background-repeat: no-repeat;
  data-background-position: 2% 2%;
  data-background-size: 10%;
}
